@CHARSET "UTF-8";
BODY {
	font-family: serif;
	font-size: 11pt;
	background-color: #F0F8FF;
}

p.current-release {
	font-weight: bold;
}

A.linkable {
	font-family: serif;
	text-decoration: none;
}

A.linkable:ACTIVE {
	color: blue;
}

A.linkable:VISITED {
	color: blue;
}

A.linkable:HOVER {
	color: black;
}

A.link-navigator {
	font-size: 8pt;
	font-family: serif;
	text-decoration: none;
}

A.link-navigator:ACTIVE {
	color: blue;
}

A.link-navigator:VISITED {
	color: blue;
}

A.link-navigator:HOVER {
	color: black;
}

A.anchor {
	font-size: 18pt;
	font-family: serif;
	font-weight: bold;
}

.description {
	font-size: 11pt;
	text-align: justify;
}

.highlighted {
	background-color: yellow;
}

span.subtitle {
	font-size: 8pt;
	font-weight: bold;
}

.title {
	font-size: 18pt;
	font-weight: bold;
	border-style: solid;
	border-width: thin;
	background-color: #DCDCDC;
}

.middle-title {
	font-size: 14pt;
	font-weight: bold;
	border-style: solid;
	border-width: thin;
	background-color: #DCDCDC;
}

.code {
	background-color: #DCDCDC;
	font-family: cursive;
	font-size: 8pt;
	width: 60%;
	padding-top: 10pt;
	padding-left: 10pt;
	padding-bottom: 10pt;
}

.emphasis {
	font-weight: bold;
}

.head_code {
	font-size: 10pt;
	border-bottom-style: solid;
	border-bottom-width: thin;
}

.step-description {
	font-size: 11pt;
	text-align: justify;
	border-style: groove;
	padding: 2%;
}

.event-description {
	font-size: 11pt;
	text-align: justify;
	border-style: outset;
	border-color: #DCDCDC;
	background-color: #DCDCDC;
	padding: 2%;
	padding-bottom: 0%;
}