@CHARSET "UTF-8";

.rdf-icon {
	background-image: url("../icons/R.png") !important;
}

.microWSMO-icon {
	background-image: url("../images/editor.png") !important;
}

.folder-closed {
	background: url(../images/gxt/icons/folder-closed.gif) no-repeat center left !important;
}

.folder-open {
	background: url(../images/gxt/icons/folder.gif) no-repeat center left !important;
}

.sp-term {
	background: url("../icons/T.png") no-repeat center left !important;
}

.onto-class {
	background-image: url("../icons/C.png") !important;;
}

.onto-property {
	background-image: url("../icons/P.png") !important;;
}

.onto-individual {
	background-image: url("../icons/I.png") !important;;
}

.expand {
	background-image: url("../icons/expand.gif") !important;;
}

.collaps {
	background-image: url("../icons/collapse.gif") !important;;
}

.loading {
	background-image: url("../icons/loading.gif") !important;;
}