<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	
	<display-name>MicroWSMOProject</display-name>
	<servlet>
		<description></description>
		<display-name>proxy</display-name>
		<servlet-name>proxy</servlet-name>
		<servlet-class>uk.ac.kmi.microwsmo.server.servlet.Proxy</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>export</display-name>
		<servlet-name>export</servlet-name>
		<servlet-class>
		uk.ac.kmi.microwsmo.server.servlet.Export</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>save</display-name>
		<servlet-name>save</servlet-name>
		<servlet-class>
		uk.ac.kmi.microwsmo.server.servlet.Save</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>showFile</display-name>
		<servlet-name>showFile</servlet-name>
		<servlet-class>
		uk.ac.kmi.microwsmo.server.servlet.ShowFile</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>watson</display-name>
		<servlet-name>watson</servlet-name>
		<servlet-class>
		uk.ac.kmi.microwsmo.server.servlet.Watson</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>sessionChecker</display-name>
		<servlet-name>sessionChecker</servlet-name>
		<servlet-class>
		uk.ac.kmi.microwsmo.server.servlet.SessionChecker</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>updater</display-name>
		<servlet-name>updater</servlet-name>
		<servlet-class>
		uk.ac.kmi.microwsmo.server.servlet.Updater</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>proxy</servlet-name>
		<url-pattern>/proxy</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>export</servlet-name>
		<url-pattern>/export</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>save</servlet-name>
		<url-pattern>/save</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>showFile</servlet-name>
		<url-pattern>/showFile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>watson</servlet-name>
		<url-pattern>/watson</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>sessionChecker</servlet-name>
		<url-pattern>/sessionChecker</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>updater</servlet-name>
		<url-pattern>/updater</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>MicroWSMOeditor.html</welcome-file>
	</welcome-file-list>

</web-app>